@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');

//Font Family
$font-main: 'Condiment', cursive;

.section-title {
  font-size: $fontSize_big;
  padding: 20px;
  font-weight: 700;
  color: $color_gold;
}

.section-subtitle {
  padding: 20px;
  font-size: $fontSize_normal;
  font-weight: 700;
  color: $color_gold;
}

.paragraphe {
  padding: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 120%;
}

.input {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px;
}
