//Font size
$fontSize_normal: 18px;
$fontSize_small: 13px;
$fonSize_big: 24px;

// Colors
$color_light: white;
$color_dark: #171516;
$color_important: #36a6a0;

//Media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
