//Font size
$fontSize_normal: 18px;
$fontSize_small: 13px;
$fontSize-medium: 30px;
$fontSize_big: 44px;

// Colors
$color_light: #e7e7e7;
$color_dark: #171516;
$color_dark-light: #272424;
$color_important: #36a6a0;
$color_gold: #f7b432;
$color_background: linear-gradient(
  45deg,
  rgba(23, 21, 22, 1) 0%,
  rgba(247, 180, 50, 1) 45%,
  rgba(247, 180, 50, 1) 59%,
  rgba(231, 231, 231, 1) 100%
);

//Media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// KeyFrames

@keyframes dropDown {
  from {
    top: 0px;
  }
  to {
    top: 140px;
  }
}

@keyframes comingFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0px;
  }
}
