.carrousel {
  position: relative;
  margin-top: 140px;
  width: 100%;
  height: 280px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    background-color: $color-gold;
    display: inline-block;
    position: absolute;

    margin: auto;
    bottom: 40px;
    right: 50%;
    border-radius: 10px;
    transform: translate(50%, 0);
    font-weight: 50%;
    text-align: center;

    padding: 10px;
    font-size: $fontSize_normal;
  }
  &__left-arrow {
    position: absolute;
    top: 135px;
    left: 0;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    & path {
      fill: $color_gold;
    }
  }
  &__right-arrow {
    position: absolute;
    top: 135px;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    & path {
      fill: $color_gold;
    }
  }
  &__radio-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: 100%;
    height: 20px;
    &__svg {
      height: 100%;
      margin-left: 2px;
      margin-right: 2px;
      & path {
        fill: $color_gold;
      }
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $xl) {
  .carrousel {
    width: 70%;
    margin: auto;
    margin-top: 170px;
    height: 400px;
  }
}

@media only screen and (min-width: $xl) {
  .carrousel {
    width: 70%;
    margin: auto;
    margin-top: 170px;
    height: 400px;
  }
}
