.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  font-family: $font-main;
  color: $color_important;
  text-shadow: 3px 0px white;

  &__img {
    height: 75px;
    border-radius: 20px;
    margin-left: 20px;
  }
}
