.quality {
  width: 100%;
  &__list {
    padding: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    & > li {
      background-color: $color-gold;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: $fontSize_normal;
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $xl) {
  .quality {
    width: 70%;
    margin: auto;
  }
}

@media only screen and (min-width: $xl) {
  .quality {
    width: 70%;
    margin: auto;
  }
}
