.services {
  width: 100%;
  background-color: lightblue;

  &__description {
    padding: 20px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  &__list {
    padding: 10px 20px;
    &__el {
      padding: 10px 0px;
      border: solid 1px;
      background-color: $color_important;
      color: $color_light;
      border-radius: 10px;
      padding-left: 10px;
      margin-bottom: 5px;
    }
  }
}
