.tarifs {
  font-size: $fontSize_small;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  &__table {
    width: 100%;
    max-width: 620px;
    margin: auto;
    &__head {
      background: $color-dark;
      color: $color_gold;
      &__line {
        height: 50px;
        border: solid 2px $color-gold;
        &__presta {
          width: 45%;
        }
        & > th {
          vertical-align: middle;
          border-right: solid 1px $color_light;
        }
      }
    }
    &__body {
      background-color: lightgray;
      &__line {
        vertical-align: middle;
        height: 40px;

        &:nth-child(odd) {
          background-color: $color-gold;
        }
        &:nth-child(even) {
          background-color: $color_light;
        }
        &__description {
          vertical-align: middle;
          padding: 5px;
          border-right: solid 1px $color_light;
        }
        &__price {
          text-align: center;
          vertical-align: middle;
          border-right: solid 1px $color_light;
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $xl) {
  .tarifs {
    width: 70%;
    margin: auto;
    &__table {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: $xl) {
  .tarifs {
    width: 70%;
    margin: auto;
    &__table {
      margin-left: 20px;
    }
  }
}
